@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

html {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 7%;
  background-color: black;
  font-family: 'Source Code Pro', monospace;
}

a:link {
  color: white;
  background-color: none; /*html lime*/
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: none; /*html lime*/
  text-decoration: none;
}

a:hover {
  color: coral;
  background-color: rgba(245, 245, 220, 0.33); /*html beige*/
  text-decoration: none;
}

a:active {
  color: white;
  background-color: pink; /*html lime*/
  text-decoration: underline;
}

canvas {
  display: block;
}
